Language: Cpp
BasedOnStyle: llvm
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"jsonrpc/.*"'
    Priority: 4
  - Regex: "^<(nlohmann|spdlog|httplib|catch2)/.*>"
    Priority: 3
  - Regex: "^<BS_thread_pool.hpp>"
    Priority: 2
  - Regex: "^<.*>"
    Priority: 1
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: false
BreakInheritanceList: AfterColon
